@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&display=swap');

/* to avoid default margin and padding as a whole */
*{
  margin: 0px;
  padding: 0px;
  
}

body{
  font-family: 'DM Sans';
}

