.header {
  position: fixed;
  background-color: #36416a;
  display: flex;
  justify-content: space-between;
  top: 0px;
  height: 84px;
  padding: 5px;
  width: 100%;
  z-index: 999;
}

.header__title {
  position: fixed;
  color: #fff;
  left: 20px;
  font-weight: 700;
  line-height: 36.46px;
  font-size: 28px;
  top: 25px;
  height: 84px;
}

.header__hyperlinks {
  display: flex;
  flex-direction: row;
  position: fixed;
  right: 20px;
  top: 20px;
  color: white;
  height: 84px;
}

.header__signin-button {
  width: 135px;
  height: 45px;
  font-weight: 500;
  font-style: normal;
  font-size: 25px;
  line-height: 31px;
  border: none;
  background-color: inherit;
  color: white;
  text-decoration: none;
  text-align: center;
  padding: 10px;
}

.header__signin-button:hover {
  border: 1.5px solid #ffffff;
  border-radius: 8px;
}

.header__button-spacing {
  margin: 5px; /* Adjust the value to your desired spacing */
}

/* ==================== mobile responsive ==================== */

@media (max-width: 767px) {
  
  .header{
    align-items: center;
    justify-content: center;
    height: 54px;
    padding: 5px;
  }
  .header__title{
    width: 113px;
    height: 31px;
    font-weight: 700;
    font-size: 23.61px;
    line-height: 30.74px;
    top: 6px;
  }

  .header__signin-button{
    width: 65px;
    height: 19px;
    font-weight: 500;
    font-size: 13.75px;
    line-height: 17.2px;
    padding: 5px;
    margin-top: 1px;
  }
}