.header {
  position: fixed;
  background-color: #36416a;
  display: flex;
  justify-content: space-between;
  top: 0px;
  height: 84px;
  padding: 5px;
  width: 100%;
  z-index: 999;
}

.header__title {
  position: fixed;
  color: white;
  left: 0;
  font-weight: 700;
  line-height: 36.46px;
  font-size: 28px;
  top: 0px;
  height: fit-content;
  background-color:inherit;
  padding: 3vh;
}


.header__hyperlinks {
  display: flex;
  flex-direction: row;
  position: fixed;
  right: 20px;
  top: 20px;
  color: white;
  height: 84px;
}

.header__signin-button {
  width: 135px;
  height: 45px;
  font-weight: 500;
  font-style: normal;
  font-size: 25px;
  line-height: 31px;
  border: none;
  background-color: inherit;
  color: white;
  text-decoration: none;
  text-align: center;
  padding: 5px;
}

.header__signin-button:hover {
  border: 1.5px solid #ffffff;
  border-radius: 8px;
}

.header__button-spacing {
  margin: 5px; /* Adjust the value to your desired spacing */
}

/* ==================== mobile responsive ==================== */

@media (max-width: 767px) {
  
  .header{
    align-items: center;
    justify-content: center;
    height: 54px;
    padding: 1vw;
  }

  .header__title{
    height: auto;
    width:auto;
    color: white;
    font-weight: 700;
    font-size: 23.61px;
    line-height: 24px;
    padding: 5vw;
  }

  .header__signin-button{
    width: 75px;
    height: 19px;
    font-weight: 500;
    font-size: 13.75px;
    line-height: 17.2px;
    padding: 5px;
    margin-top: 0vh;
    
  }
  .header__signin-button:hover{
    border-radius: 4.44px;
    border: 0.94px solid #FFFFFF;
  }
}