.banner {
  position: relative;
  margin-top: 140px;
  height: auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.banner__image {
  width: fit-content; /* Set width to 100% */
  height: auto; /* Allow height to adjust based on image aspect ratio */
}

.banner__information {

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 90vw;
}
div h1 {
  height: auto;
  max-width: 745.11px;
  width: auto;
  border-radius: null px;
  margin-bottom: 5px;
}

.banner__information-paragaraph {
  margin-top: 5px;
  height: 65px;
  max-width: 725px;
  width: auto;
  border-radius: nullpx;
  font-weight: 500;
  font-size: 23px;
  line-height: 34.09px;
}

/* ==================== mobile responsive ==================== */

@media (max-width: 767px) {
  .banner {
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    margin-top: 90px;
  }

  .banner__img {
    max-width: 90vw;
    max-height: 80vh;
  }

  .banner__information {
    padding: 15px;
  }

  div h1 {
    font-size: 22px;
    font-weight: 500;
    line-height: 31px;
    letter-spacing: 0em;
    margin-bottom: 2px;
    height: auto;
  }

  .banner__information-paragaraph {
    color: #6a6a6a;
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    letter-spacing: 0em;
  }
}
